<ng-container>
    <form class="example-form" class="add-space">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Search here Stocks"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          (optionSelected)="OnstockSelected($event.option)"
          autoActiveFirstOption
          #auto="matAutocomplete"
        >
          <mat-option class="form-text2"
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <div *ngIf="selected">
        <table class="table-width" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="stockName">
                <th mat-header-cell *matHeaderCellDef>Stock Name</th>
                <td mat-cell *matCellDef="let element">{{ element.stockName}}</td>
              </ng-container>

              <!-- Quantity Column -->
              <ng-container matColumnDef="cPrice">
                <th mat-header-cell *matHeaderCellDef>Current Price</th>
                <td  mat-cell *matCellDef="let element">{{ element.cPrice }}</td>
              </ng-container>

              <!-- Purchased Total Column -->
              <ng-container matColumnDef="predPrice">
                <th mat-header-cell *matHeaderCellDef>Predicted Price</th>
                <td  mat-cell *matCellDef="let element">{{ element.predPrice }}</td>
              </ng-container>

              <!-- Input Quantity Column -->
              <ng-container matColumnDef="Quantity">
                  <th mat-header-cell *matHeaderCellDef >Select Quantity</th>
                  <td mat-cell *matCellDef="let element"
                  class="example-element-row">
                  <input
                  matInput
                  name="quant"
                  ngModel
                  type="number"
                  placeholder="0"
                  step="1"
                  (input)="onChangeQuantity($event.target.value)"
                />
                </td>
              </ng-container>

              <ng-container matColumnDef="Total">
                  <th mat-header-cell *matHeaderCellDef >Total </th>
                  <td mat-cell *matCellDef="let element">
                  {{ element.Total }}
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td  mat-cell *matCellDef="let element">
                      <button mat-button [disabled]="isInvalid(element.Quantity)" type="submit" (click)="buyStocks(element.stockName)">Buy </button> &nbsp;&nbsp;&nbsp;
                      <button mat-button [disabled]="isInvalid(element.Quantity)" type="submit" (click)="sellStocks(element.stockName)">Sell </button>

                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</ng-container>


